<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA40gelaRDkyJiy392d0q8F7EgwXYpvNYI</string>
	<key>GCM_SENDER_ID</key>
	<string>131140358808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNoti</string>
	<key>PROJECT_ID</key>
	<string>push-noti-test-2eaac</string>
	<key>STORAGE_BUCKET</key>
	<string>push-noti-test-2eaac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131140358808:ios:73fff8e1c311ba096776ed</string>
</dict>
</plist>